/* botão de editar */

.Btn01 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 76px;
    height: 24px;
    border: none;
    padding: 0px 20px;
    background-color: #4F46E5;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: 5px 5px 0px #6366F1); */
    transition-duration: .3s;
}

.svg01 {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.Btn01:hover {
    color: transparent;
}

.Btn01:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn01:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

/* DELETE BUTTON */
.button02 {
    width: 44px;
    height: 42px;
    border-radius: 50%;
    /* gradiente base: vermelho vivo -> vermelho mais escuro */
    background: linear-gradient(135deg,
            rgb(255, 69, 69),
            rgb(190, 18, 60));
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    gap: 1px;
    transition:
        width 0.3s ease,
        border-radius 0.3s ease,
        background 0.3s ease;
}

.svgIcon02 {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon02 path {
    fill: white;
}

.button02:hover {
    width: 105px;
    /* aproximado ao botão "Atualizar" */
    border-radius: 50px;
    background: linear-gradient(135deg,
            rgb(248, 113, 113),
            rgb(185, 28, 28));
    align-items: center;
    gap: 0;
}

.button02:hover .bin-bottom02 {
    width: 50px;
    transition-duration: 0.3s;
    transform: translateY(60%);
}

.bin-top02 {
    transform-origin: bottom right;
}

.button02:hover .bin-top02 {
    width: 50px;
    transition-duration: 0.3s;
    transform: translateY(60%) rotate(160deg);
}

.button02::before {
    position: absolute;
    top: -30px;
    content: "Excluir";
    color: white;
    font-size: 2px;
    opacity: 0;
    transition-duration: 0.3s;
}

.button02:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(35px);
    transition-duration: 0.3s;
}